.learningOutcomeSection {
  padding: 4rem 0;
  width: 100%;
  /* background-color: #ffffff; */
  background-color: var(--ifm-color-background);
}

.learningOutcomeCard {
  /* background: white; */
  border-radius: 8px;
  padding: 2rem;
  height: 100%;
  border: solid #7030ef 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.learningOutcomeCard:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.sectionTitle {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0.6rem;
  color: #7030ef;
}

.sectionSubtitle {
  text-align: center;
  margin-bottom: 3rem;
  /* color: #090820; */
  font-size: 1.3rem;
}

@media screen and (max-width: 996px) {
  .learningOutcomeSection {
    padding: 2rem 0;
  }

  .learningOutcomeCard {
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
}
